@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  background-color: black;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav{
  width: 100%;
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  position: fixed;
  background-color: black;
}


.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.logo-img{
  width: 2rem;
}

.logo-img img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.logo-title{
  font-size: 1.25rem;
}

.nav-list-conatainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0%;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
}

.close-btn{
  display: none;
}

.nav-items{
  text-decoration: none;
  color: rgb(201, 200, 200);
  font-size: 0.9rem;
}

.nav-items:hover{
  color: #fff;
}

.nav-btn{
  background-color: black;
  color: #fff;
  padding: 0.65rem 1rem;
  border: 1px solid rgb(5, 5, 255);
  border-radius: 2rem;
}

.nav-btn:hover{
  background-color: rgb(5, 5, 255);
  color: #fff;
  transition: all 500ms ease-in-out;

}

.menu-btn{
  color: #fff;
  padding: 0.25rem 0.5rem;
  background-color: black;
  cursor: pointer;
  border: 1px solid rgb(5, 5, 255);
  display: none;
}

/* bg image */
.bg-image{
  width: 50%;
  height: auto;
  background: url('https://cdn.sanity.io/images/tlr8oxjg/production/d2f16531bde974464ad7ab74dc335790dbdebffa-1192x668.png?w=3840&q=80&fit=clip&auto=format') no-repeat;
  background-size: 100% auto;
  
}

.bg-image-cnt{
  font-size: 3.5rem;
}

.bg-box{
  padding: 8rem 10% 0rem 10%;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.bg-box-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-box{
  background-color: black;
  width: 80%;
  /* padding: 0.75rem; */
  border: 1px solid rgb(5, 5, 255);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;  
}

.btn-box i{
  color: grey;
  font-size: 0.75rem;
}

.btn-box input{
  color: grey;
  background-color: transparent;
  outline: none;
  border: none;
}

.find-btn{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #fff;
  color: black;
  padding: 0.5rem;
  border-radius: 1rem;
  border-color: none;
  outline: none;
  border: none;
  margin: 0.25rem 0.25rem 0.25rem 0rem;
}

/* box-title */
.box-title{
  font-size: 3rem;
  font-weight: 400;
}

@media screen and (max-width: 750px){ 
  nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0rem;
  }

  .logo-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn{
    display: inline;
  }

  .nav-list-conatainer{
    transition: margin-left 1000ms ease-in-out;
    margin-left: -50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    min-height: 100vh;
    background-color: rgba(7, 7, 7, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(95%) brightness(140%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    /* display: none; */
  }

  .nav-list{
    padding-top: 5rem;
    flex-direction: column;
    gap: 3rem;
  }

  .close-btn{
    display: inline;
    padding: 0.25rem 0.5rem;
    border: 1px solid rgb(5, 5, 255);
    color: white;
    background-color: black;
    position: absolute;
    top: 1.3rem;
    left: 80%;
    font-size: 1rem;
  }

  /* background image */

  .bg-box{
    flex-direction: column;
    padding-top: 6rem;
    gap: 2rem;
  }

  .bg-box-content{
    width: 100%;
  }

  .box-title{
    font-size: 2rem;
  }

  .btn-box{
    width: 100%;
  }

  .bg-box{
    width: 100%;
    height: auto;
  }

  .bg-image{
    width: 100%;
    height: 12rem;
  }
}